@model Proyecto_Tickets.INCIDENTE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="card-all">

    <hr />
    <div class="card-header">

        <h4>INCIDENTE</h4>
    </div>

    <div class="card-body">


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label> </label>
                    <div>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label> </label>
                    <div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>@Html.DisplayName("Asunto") </label>
                    <div class="">
                        @Html.DisplayFor(model => model.NOMBRE)
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label> @Html.DisplayName("Usuario") </label>
                    <div>
                        @Html.DisplayFor(model => model.USUARIO.NOMBRE)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label> @Html.DisplayName("Creacion") </label>
                    <div>
                        @Html.DisplayFor(model => model.FECHA_CREACION)
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label> @Html.DisplayName("Resuelto") </label>
                    <div>
                        @Html.DisplayFor(model => model.FECHA_ACTUALIZACION)
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>@Html.DisplayName("Duracion") </label>
                    <div>
                        @Html.DisplayFor(model => model.DURACION)
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>  @Html.DisplayName("Motivo de cierre")  </label>
                    <div>
                        @Html.DisplayFor(model => model.MOTIVO_CIERRE)
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>@Html.DisplayName("Origen") </label>
                    <div>
                        @Html.DisplayFor(model => model.CANAL_ORIGEN.NOMBRE_ORIGEN)
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label> @Html.DisplayName("Categoria")</label>
                    <div>
                        @Html.DisplayFor(model => model.CATEGORIA.NOMBRE_CATEGORIA)
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label> @Html.DisplayName("Estado")</label>
                    <div>
                        @Html.DisplayFor(model => model.ESTADO.NOMBRE_ESTADO)
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>   @Html.DisplayName("Prioridad") </label>
                    <div>
                        @Html.DisplayFor(model => model.PRIORIDAD.NOMBRE_PRIORIDAD)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>@Html.DisplayName("Descripcion") </label>
                    <div>
                        @Html.DisplayFor(model => model.DESCRIPCION)
                    </div>
                </div>
            </div>

           
        </div>

    </div>
   


</div>


<p>
    @Html.ActionLink("Resolver", "Edit", new { id = Model.ID_INCIDENTE }) |
    @Html.ActionLink("Volver a los tickets", "Index")
</p>
