@model IEnumerable<Proyecto_Tickets.INCIDENTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  table-striped table-hover table-responsive ">
    <tr>
        <th>
            @Html.DisplayName("Asunto")
        </th>
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th>
            @Html.DisplayName("Creacion")
        </th>
        <th>
            @Html.DisplayName("Finalizacion")
        </th>
        <th>
            @Html.DisplayName("Duracion")
        </th>
        <th>
            @Html.DisplayName("Motivo")
        </th>
        <th>
            @Html.DisplayName("Origen")
        </th>
        <th>
            @Html.DisplayName("Categoria")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th>
            @Html.DisplayName("Prioridad")
        </th>
        <th>
            @Html.DisplayName("Usuario")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_CREACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_ACTUALIZACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DURACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTIVO_CIERRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CANAL_ORIGEN.NOMBRE_ORIGEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIA.NOMBRE_CATEGORIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO.NOMBRE_ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRIORIDAD.NOMBRE_PRIORIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USUARIO.NOMBRE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_INCIDENTE }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_INCIDENTE }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_INCIDENTE })
            </td>
        </tr>
    }

</table>
<div class="body-ticket">
    <div class="grid-body">
        <h2>Tickets</h2>
        <hr />

        <button type="button"
                id="btnCrear"
                class="btn btn-success "
                data-toggle="modal"
                data-target="#newTicket">
            Nuevo ticket
        </button>
      


        <div class="padding"></div>
        <div class="row">
            <div class="col-md-12">

                <!--LISTADO-->

                @foreach (var item in Model)
                {
                    <ul class="list-group fa-padding">

                        <li class="list-group-item">
                            <div class="media">
                                <i class="fa fa-cog pull-left"></i>
                                <div class="media-body">
                                    Asunto: <strong>@Html.DisplayFor(modelItem => item.NOMBRE)</strong>
                                    <span class="label label-primary">
                                        @Html.DisplayFor(modelItem => item.PRIORIDAD.NOMBRE_PRIORIDAD)
                                    </span>
                                    <span class=" pull-right label label-primary">@Html.DisplayFor(modelItem => item.ESTADO.NOMBRE_ESTADO)</span>
                                    <br />
                                    <br />
                                    <p class="info">
                                        Creado por: <strong> @Html.DisplayFor(modelItem => item.USUARIO.NOMBRE) </strong>
                                        &nbsp | &nbsp &nbsp Fecha de creacion: <strong>  @Html.DisplayFor(modelItem => item.FECHA_CREACION)</strong>
                                        &nbsp | &nbsp &nbsp Categoria: <i class="fa fa-comments"></i> <strong>@Html.DisplayFor(modelItem => item.CATEGORIA.NOMBRE_CATEGORIA)</strong>
                                    </p>

                                    <div class="pull-right">
                                        @Html.ActionLink("Ver", "#", new { id = item.ID_INCIDENTE }, new { @data_toggle = "modal", @data_target = "#issue", @class = " btn btn-info" })
                                        @Html.ActionLink("Responder", "Edit", new { id = item.ID_INCIDENTE }, new { @class = " btn btn-warning" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_INCIDENTE }, new { @class = " btn btn-danger" })
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>


                }
                <!--FIN LISTADO-->



            </div>
        </div>
    </div>

</div>
